html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

header {
    position: relative;
    z-index: 2000;
}

body {
    margin-bottom: 60px;
}

a {
    color: #E04149;
}

    a:hover {
        color: #CD212A;
    }


.menu .navbar, .menu footer, .takeaway .navbar, .takeaway footer {
    background-color: #fff7f7 !important;
    border: 1px solid #dee2e6 !important
}

    .menu footer span, .takeaway footer span {
        color: #6c757d !important;
    }

    .menu .navbar .nav-item a, .menu .navbar .navbar-brand, .takeaway .navbar .nav-item a, .takeaway .navbar .navbar-brand {
        color: black !important;
    }

@media (min-width: 576px) {
    .navbar-expand-sm .navbar-nav {
        justify-content: flex-end;
    }
}

@media (min-width: 576px) {
    .navbar-expand-sm .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

.menu main.container, .takeaway main.container {
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
    max-width: initial;
}

.menu .card .btn-primary {
    display: none;
}

.home main {
    position: relative;
    top: 5vh;
}

.home {
    background-image: linear-gradient(rgb(0 0 0 / 60%), rgb(0 0 0 / 65%)), url(https://images.unsplash.com/photo-1515859005217-8a1f08870f59?q=80&w=2610&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: left;
    background-size: cover;
}

.booking {
    background-image: linear-gradient(rgb(0 0 0 / 60%), rgb(0 0 0 / 65%)), url(https://images.unsplash.com/photo-1506280754576-f6fa8a873550?q=80&w=2574&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
}

.form-control {
    background-color: #FFFFFF;
    background-image: none;
    border-radius: 0;
    font-size: 14px;
    min-height: 40px;
    border: 1.5px solid #dcdcdc;
    box-shadow: none !important;
}

/*.btn-primary {
    color: #fff;
    background-color: #ff6347;
    border-color: #ff6347;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    box-shadow: none !important;
}

    .btn-primary:hover, .btn-primary:focus {
        background-color: #ff4500;
        border-color: #ff4500;
    }

    .btn-primary:focus {
        box-shadow: 0 0 0 2px #ffffff80, 0 0 0 4px #ff744580 !important
    }

    .btn-primary:active {
        background-color: #ff4500;
        border-color: #ff4500;
        box-shadow: 0 0 0 2px #ffffff80, 0 0 0 4px #ff744580 !important
    }
*/
.btn-primary {
    color: #fff;
    background-color: #CD212A;
    border-color: #CD212A;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    box-shadow: none !important;
}

    .btn-primary:hover, .btn-primary:focus {
        background-color: #A11A21;
        border-color: #A11A21;
    }

    .btn-primary:focus {
        box-shadow: 0 0 0 2px #ffffff80, 0 0 0 4px #FF4D4D80 !important
    }

    .btn-primary:active {
        background-color: #A11A21;
        border-color: #A11A21;
        box-shadow: 0 0 0 2px #ffffff80, 0 0 0 4px #FF4D4D80 !important
    }

.btn-secondary {
    color: #fff;
    background-color: #008C45;
    border-color: #008C45;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    box-shadow: none !important;
}

    .btn-secondary:hover, .btn-secondary:focus {
        background-color: #00592C;
        border-color: #00592C;
    }

    .btn-secondary:focus {
        box-shadow: 0 0 0 2px #ffffff80, 0 0 0 4px #00b16a80 !important
    }

    .btn-secondary:active {
        background-color: #00592C;
        border-color: #00592C;
        box-shadow: 0 0 0 2px #ffffff80, 0 0 0 4px #00b16a80 !important
    }

.nav-menu .nav-tabs {
    display: flex;
    justify-content: space-between;
    border: 0;
}

    .nav-menu .nav-tabs .nav-item.show .nav-link, .nav-menu .nav-tabs .nav-link.active {
        color: #CD212A;
        border: 0;
        border-bottom: 1px solid #CD212A !important;
        padding: 0 0 .1rem;
        margin: .5rem 1rem;
    }

.nav-menu .nav-link {
    color: #495057;
    border: 0 !important;
    box-shadow: none !important;
    white-space: nowrap;
}

    .nav-menu .nav-link:focus, .nav-link:hover, .nav-link:active {
        color: #CD212A;
        background-color: #f0f0f0;
    }

.menu-section-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

.nav-menu .nav-item {
    flex: 1;
    text-align: center;
}

.menu-section {
    min-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2rem;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.menu-scrollspy .card {
    min-width: 18rem;
    max-width: 18rem;
    scroll-snap-align: start;
}

.card-body {
    text-align: center;
}

.card-img-top {
    height: 15rem;
    object-fit: cover;
    object-position: center;
}

.menu-tab .card-text {
    width: 50%;
}

/* For WebKit-based browsers (Chrome, Safari, Opera) */
/* Customize the scrollbar */
.menu-section-container::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

/* Handle */
.menu-section-container::-webkit-scrollbar-thumb {
    background-color: #FF4D4D80; /* Color of the scrollbar handle */
    border-radius: 4px; /* Rounded corners of the handle */
}

/* Track */
.menu-section-container::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the scrollbar track */
}

/* Handle on hover */
.menu-section-container::-webkit-scrollbar-thumb:hover {
    background-color: #CD212A; /* Color of the scrollbar handle on hover */
}

/* Track on hover */
.menu-section-container::-webkit-scrollbar-track:hover {
    background: #ddd; /* Color of the scrollbar track on hover */
}

/* Corner */
.menu-section-container::-webkit-scrollbar-corner {
    background: transparent; /* Hide the scrollbar corner */
}


/*.delivery-select {
    margin-left: -33px !important;
    width: calc(100% + 33px) !important;
    padding-left: 33px !important;
    background-color: transparent;
}*/

button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.2;
    filter: alpha(opacity = 20);
}

.modal-title {
    font-weight: 400;
}

.modal-footer {
    justify-content: space-between;
}

.pac-container {
    z-index: 500000000;
}


.display-7 {
    font-size: calc(1.5rem + 0.4vw);
    font-weight: 300;
    line-height: 1.2;
}

@media (min-width: 1200px) {
    .display-7 {
        font-size: 2.25rem;
    }
}

.menu-scrollspy {
}

.sticky-top {
    padding: .25rem 0 0;
    margin: -.25rem 0 0;
}

    .sticky-top .nav-menu {
        margin-bottom: 0.25rem;
    }

.order-summary {
    padding: 3rem 0 0;
    margin: -3rem 0 0;
}
