html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-control-sm:focus, .form-check-input:focus, .select2-container--open {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #CD212A;
}

.form-check-input:checked {
    background-color: #CD212A;
    border-color: #CD212A;
}

html {
    position: relative;
    min-height: 100%;
}

header {
    position: relative;
    z-index: 1020;
}

body {
    margin-bottom: 60px;
}

a {
    color: #E04149;
}

    a:hover {
        color: #CD212A;
    }

.img-fluid {
    object-fit: cover;
}


.menu .navbar, .menu footer, .takeaway .navbar, .takeaway footer {
    background-color: #fff7f7 !important;
    border: 1px solid #dee2e6 !important
}

    .menu footer span, .takeaway footer span {
        color: #6c757d !important;
    }

    .menu .navbar .nav-item a, .menu .navbar .navbar-brand, .takeaway .navbar .nav-item a, .takeaway .navbar .navbar-brand {
        color: black !important;
    }

.menu .navbar-toggler-icon, .takeaway .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

@media (min-width: 576px) {
    .navbar-expand-sm .navbar-nav {
        justify-content: flex-end;
    }
}

@media (min-width: 576px) {
    .navbar-expand-sm .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

.menu main.container, .takeaway main.container {
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
    max-width: initial;
}

.menu .card .btn-primary {
    display: none;
}

.home main {
    position: relative;
    top: 5vh;
}

.home {
    background-image: linear-gradient(rgb(0 0 0 / 60%), rgb(0 0 0 / 65%)), url(https://images.unsplash.com/photo-1515859005217-8a1f08870f59?q=80&w=2610&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: left;
    background-size: cover;
}

.booking {
    background-image: linear-gradient(rgb(0 0 0 / 60%), rgb(0 0 0 / 65%)), url(https://images.unsplash.com/photo-1506280754576-f6fa8a873550?q=80&w=2574&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
}

.dietary {
    background-image: linear-gradient(rgb(0 0 0 / 60%), rgb(0 0 0 / 65%)), url(https://images.unsplash.com/photo-1618807543816-96d6df00de29?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
}

.bg-dark {
    background-color: #111 !important
}

.booking .bg-dark .form-control {
    background-color: transparent;
    border: 1.5px solid transparent;
    border-bottom: 1.5px solid var(--bs-gray);
    color: #fff;
    color-scheme: dark;
}

.form-control {
    background-color: #FFFFFF;
    background-image: none;
    border-radius: 0;
    font-size: 14px;
    min-height: 40px;
    border: 1.5px solid #dcdcdc;
    outline: 0;
}

.form-control-sm {
    border: 1.5px solid #dcdcdc;
    outline: 0;
}

.booking .form-control:focus, .select2-container--open {
    border-radius: 4px;
}


/*.btn-primary {
    color: #fff;
    background-color: #ff6347;
    border-color: #ff6347;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    box-shadow: none !important;
}

    .btn-primary:hover, .btn-primary:focus {
        background-color: #ff4500;
        border-color: #ff4500;
    }

    .btn-primary:focus {
        box-shadow: 0 0 0 2px #ffffff80, 0 0 0 4px #ff744580 !important
    }

    .btn-primary:active {
        background-color: #ff4500;
        border-color: #ff4500;
        box-shadow: 0 0 0 2px #ffffff80, 0 0 0 4px #ff744580 !important
    }
*/
.btn-primary {
    color: #fff;
    background-color: #CD212A;
    border-color: #CD212A;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    box-shadow: none !important;
}

    .btn-primary:hover, .btn-primary:focus {
        background-color: #A11A21;
        border-color: #A11A21;
    }

    .btn-primary:focus {
        box-shadow: 0 0 0 2px #ffffff80, 0 0 0 4px #FF4D4D80 !important
    }

    .btn-primary:active {
        background-color: #A11A21;
        border-color: #A11A21;
        box-shadow: 0 0 0 2px #ffffff80, 0 0 0 4px #FF4D4D80 !important
    }

.btn-secondary {
    color: #fff;
    background-color: #008542;
    border-color: #008542 !important;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    box-shadow: none !important;
}

    .btn-secondary:hover, .btn-secondary:focus {
        background-color: #00592C;
        border-color: #00592C;
    }

    .btn-secondary:focus {
        box-shadow: 0 0 0 2px #ffffff80, 0 0 0 4px #00b16a80 !important
    }

    .btn-secondary:active {
        background-color: #00592C;
        border-color: #00592C;
        box-shadow: 0 0 0 2px #ffffff80, 0 0 0 4px #00b16a80 !important
    }

.btn-light {
    border-color: #DAE0E5;
}

    .btn-light:hover {
        background-color: #DAE0E5;
        border-color: #DAE0E5;
    }

.btn-link {
    box-shadow: none !important;
    outline: none !important;
    color: #CD212A;
}

    .btn-link:hover, .btn-link:focus, .btn-link:active {
        box-shadow: none;
        outline: none;
        color: #A11A21;
    }

.nav-menu .nav-tabs {
    display: flex;
    justify-content: space-between;
    border: 0;
    margin-bottom: 5px;
    box-shadow: 0 5px 10px 0px #fff;
    clip-path: inset(0px 0px -80px 0px);
    position: relative;
    z-index: 1020;
}

    .nav-menu .nav-tabs .nav-item.show .nav-link, .nav-menu .nav-tabs .nav-link.active {
        color: #CD212A;
        border: 0;
        border-bottom: 1px solid #CD212A !important;
    }

.nav-menu .nav-link {
    color: #495057;
    border: 0 !important;
    box-shadow: none !important;
    white-space: nowrap;
    position: relative;
    z-index: 1020;
    border-bottom: 1px solid #dee2e6 !important;
}

#menu-navbar .nav-menu .nav-link:focus, #menu-navbar .nav-link:hover, #menu-navbar .nav-link:active {
    color: #CD212A;
    background-color: #f0f0f0;
}

.menu-section-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

.nav-menu .nav-item {
    flex: 1;
    text-align: center;
}

.menu-section {
    min-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2rem;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.menu-scrollspy .menu-section-container .card {
    min-width: 18rem;
    max-width: 18rem;
    scroll-snap-align: start;
}

.card-body {
    text-align: center;
}

.card-img-top {
    height: 15rem;
    object-fit: cover;
    object-position: center;
}

.menu-tab .card-text {
    width: 50%;
}

/* Customise the scrollbar */
.menu-section-container::-webkit-scrollbar, .menu-scrollspy::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

/* Handle */
.menu-section-container::-webkit-scrollbar-thumb, .menu-scrollspy::-webkit-scrollbar-thumb {
    background-color: #FF4D4D80; /* Colour of the scrollbar handle */
    border-radius: 4px; /* Rounded corners of the handle */
}

/* Track */
.menu-section-container::-webkit-scrollbar-track, .menu-scrollspy::-webkit-scrollbar-track {
    background: #f1f1f1; /* Colour of the scrollbar track */
}

/* Handle on hover */
.menu-section-container::-webkit-scrollbar-thumb:hover, .menu-scrollspy::-webkit-scrollbar-thumb:hover {
    background-color: #CD212A; /* Colour of the scrollbar handle on hover */
}

/* Track on hover */
.menu-section-container::-webkit-scrollbar-track:hover, .menu-scrollspy::-webkit-scrollbar-track:hover {
    background: #ddd; /* Colour of the scrollbar track on hover */
}

/* Corner */
.menu-section-container::-webkit-scrollbar-corner, .menu-scrollspy::-webkit-scrollbar-corner {
    background: transparent; /* Hide the scrollbar corner */
}


/*.delivery-select {
    margin-left: -33px !important;
    width: calc(100% + 33px) !important;
    padding-left: 33px !important;
    background-color: transparent;
}*/

button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.2;
}

.modal-title {
    font-weight: 400;
}

.modal-footer {
    justify-content: space-between;
}

.pac-container {
    z-index: 500000000;
}


.display-7 {
    font-size: calc(1.5rem + 0.4vw);
    font-weight: 300;
    line-height: 1.2;
}

@media (min-width: 1200px) {
    .display-7 {
        font-size: 2.25rem;
    }
}

.menu-scrollspy {
    position: relative;
    height: 700px; /* Adjust as needed */
    overflow-y: auto;
    overflow-x: hidden;
    justify-content: center;
}

.sticky-top {
    padding: .25rem 0 0;
    margin: -.25rem 0 0;
}

    .sticky-top .nav-menu {
        margin-bottom: 0.25rem;
    }

.order-summary {
    padding-top: 44.8px;
    margin-top: -44.8px;
}


.select2-selection {
    height: 40px !important;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    background-color: transparent !important;
    color: white !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    position: relative;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: inherit;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #fff transparent transparent transparent;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #fff transparent;
}

.input-quantity {
    width: 60px;
}
