


<div class="col-12 p-0 m-0 row">
    <div class="col-md-6 p-4 m-0 d-flex flex-column text-center text-white bg-dark mx-auto">
        <h1 class="display-6 text-center"><strong>Thank You!</strong></h1>
        <h2 class="display-7 mb-3 text-center">You will receive further updates by email</h2>

        <div class="col-12 p-0 m-0 mt-auto row">
            <div class="d-flex justify-content-center gap-2">
                <a class=" btn btn-secondary" asp-area="" asp-controller="Menu" asp-action="Index">View the Menu</a>
                <a class=" btn btn-light" asp-area="" asp-controller="Booking" asp-action="Index">Book a Table</a>
                <a class=" btn btn-primary" asp-area="" asp-controller="Takeaway" asp-action="Index">Order a Takeaway</a>
            </div>
        </div>
    </div>
</div>