@{
    String orderModel = "";
}

<div class="col p-0 m-0 row">
    <div class="col-12 p-0 mb-3 m-0 row">
        <div class="col-md-9 p-0 m-0">
            <nav class="nav-menu">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="starters-tab" data-toggle="tab" href="#starters" role="tab" aria-controls="starters" aria-selected="true">Starters</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="main-tab" data-toggle="tab" href="#main" role="tab" aria-controls="main" aria-selected="false">Mains</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="dessert-tab" data-toggle="tab" href="#dessert" role="tab" aria-controls="dessert" aria-selected="false">Desserts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="sides-tab" data-toggle="tab" href="#sides" role="tab" aria-controls="sides" aria-selected="false">Sides</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="drinks-tab" data-toggle="tab" href="#drinks" role="tab" aria-controls="drinks" aria-selected="false">Drinks</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="col-md-9 p-0 mt-md-4 m-0">
            <partial name="~/Views/Menu/_menu.cshtml">
        </div>
        <div class="col-md-3 ps-md-5 p-0 mt-4 m-0 d-flex flex-wrap flex-md-column align-items-md-center gap-2">
            <div class="col-12 p-0 m-0 d-flex">
                <button type="button" id="dietaryRequirementsBtn" class="btn btn-secondary  mx-auto"> Enter Dietary Requirements</button>
                @* <div class="d-flex flex-wrap gap-1">
                <button type="button" id="bookTableBtn" class="btn btn-primary"> Book a Table</button>
                <button type="button" id="orderTakeawayBtn" class="btn btn-primary"> Order a Takeaway</button>
                </div> *@
            </div>
            <div class="col-12 col-md-9 p-0 m-0 row gap-2">
                <div class="col-md-12 col-7 p-0 m-0 d-flex mx-auto">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-5 p-0 m-0 mx-auto">
                    <div class="card">
                        <div class="card-body">
                            @* <div class="col-12 p-0 m-0 row border rounded mb-2">
                                <div class="col-2 p-0 m-0 d-flex"> <i class="fas fa-car m-auto" aria-hidden="true"></i></div>
                                <div class="col-10 p-0 m-0">
                                    <select class="form-select delivery-select border-0 w-100 ms-auto ps-0">
                                        <option>

                                            Delivery
                                        </option>
                                    </select>
                                </div>
                            </div> *@
                            <button type="button" class="btn btn-light d-flex border w-100" onclick="showDeliveryPopup()"><i class="fa-solid fa-location-dot m-auto ms-0" aria-hidden="true"></i><span class="me-auto">Enter delivery details</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<div id="myDeliveryCost">
    <div class="delivery-popup-container">
        <div class="delivery-popup">
            <div class="header">
                <h2 class="mb-4">Calculate shipping costs</h2>
            </div>
            <div class="content">
                <form role="form">
                    <div class="form-group">
                        <div class="my-3">
                            <input id="autocomplete" placeholder="Enter your address" type="text" class="form-control" />
                        </div>

                        <div class="my-3">
                            <input id="street_number" disabled="true" class="form-control" placeholder="Number" />
                        </div>

                        <div class="my-3">
                            <input id="route" disabled="true" class="form-control" placeholder="Street" />
                        </div>

                        <div class="my-3">
                            <input id="postal_town" disabled="true" class="form-control" placeholder="Town/City" />
                        </div>

                        <div class="my-3">
                            <input id="postal_code" disabled="true" class="form-control" placeholder="Postal Code" />
                        </div>
                    </div>
                    <div class="mt-3">
                        <p class="m-0">
                            Delivery cost: £<span id="ShippingCostID">2.00 </span>
                        </p>
                    </div>
                </form>
            </div>
            <div class="d-flex flex-row justify-content-between text-left gap-5 mt-4">
                <button class="button btn btn-primary" onclick="hideDeliveryPopup()" type="button">Cancel</button>
                <button type="button" class="btn btn-secondary updateShipping">Apply</button>
            </div>
        </div>
    </div>
    <div onclick="hideDeliveryPopup()" class="black-gradient"></div>
</div>

@section Scripts
{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGpbdsy42seNGf2rITGz9CYqKTT8JWPa4&libraries=places"></script>
    <script>
        function initAutocomplete() {
            var autocomplete = new google.maps.places.Autocomplete(
                document.getElementById('autocomplete'),
                { types: ['geocode'] }
            );

            autocomplete.addListener('place_changed', function () {
                var place = autocomplete.getPlace();
                for (var component in componentForm) {
                    document.getElementById(component).value = '';
                    document.getElementById(component).disabled = false;
                }

                for (var i = 0; i < place.address_components.length; i++) {
                    var addressType = place.address_components[i].types[0];
                    if (componentForm[addressType]) {
                        var val = place.address_components[i][componentForm[addressType]];
                        document.getElementById(addressType).value = val;
                    }
                }
            });
        }

        function geolocate() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var geolocation = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    var circle = new google.maps.Circle({
                        center: geolocation,
                        radius: position.coords.accuracy
                    });
                    autocomplete.setBounds(circle.getBounds());
                });
            }
        }

        var componentForm = {
            street_number: 'long_name',
            route: 'long_name',
            postal_town: 'long_name',
            postal_code: 'short_name'
        };

        google.maps.event.addDomListener(window, 'load', initAutocomplete);
    </script>
}
