@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="text-center text-white">
    <h1 class="display-4 text-start"><strong>Book a Table</strong></h1>
    <h2 class="display-5 text-start">Fill in your details</h2>
    <h3 class="display-6 text-start">Contact Info</h3>
    <form>
        <div class="col-12 p-0 my-3 m-0 row">
            <label for="first" class="text-start p-0">Name</label>
            <div class="col-6 ps-0 m-0"><input type="text" name="first" placeholder="First" value="" class="form-control" /></div>
            <div class="col-6 pe-0 m-0"><input type="text" name="last" placeholder="Last" value="" class="form-control" /></div>
        </div>
        <div class="col-12 p-0 my-3 m-0 row">
            <label for="email_address" class="text-start p-0">Email</label>
            <input type="text" name="email_address" value="" class="form-control" />
        </div>
        <div class="col-12 p-0 my-3 m-0 row">
            <label for="phone_number" class="text-start p-0">Phone</label>
            <input type="text" name="phone_number" value="" class="form-control" />
        </div>
        <h3 class="display-6 text-start">Accomodation Info</h3>
        <div class="col-12 p-0 my-3 m-0 row">
            <label for="guests_no" class="text-start p-0">Number of guests</label>
            <input type="text" name="guests_no" value="" class="form-control" />
        </div>
        <div class="col-12 p-0 my-3 m-0 row">
            <label for="guests_no" class="text-start p-0">Check in</label>
            <input type="datetime-local" name="guests_no" value="" class="form-control" />
        </div>
    </form>
    <div class="col-12 p-0 m-0 row">
        <button type="submit" class="btn btn-primary">Book Now</button>
    </div>
</div>