@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<form>
    <div class="form-check text-start">
        <input class="form-check-input" type="checkbox" value="vegetarian" id="checkVegetarian">
        <label class="form-check-label" for="checkVegetarian">
            Vegetarian
        </label>
    </div>
    <div class="form-check my-2 text-start">
        <input class="form-check-input" type="checkbox" value="vegan" id="checkVegan">
        <label class="form-check-label" for="checkVegan">
            Vegan
        </label>
    </div>
    <div class="form-check my-2 text-start">
        <input class="form-check-input" type="checkbox" value="gluten_free" id="checkGlutenFree">
        <label class="form-check-label" for="checkGlutenFree">
            Gluten-Free
        </label>
    </div>
    <div class="form-check my-2 text-start">
        <input class="form-check-input" type="checkbox" value="dairy_free" id="checkDairyFree">
        <label class="form-check-label" for="checkDairyFree">
            Dairy-Free
        </label>
    </div>
    <div class="form-check my-2 text-start">
        <input class="form-check-input" type="checkbox" value="nut_free" id="checkNutFree">
        <label class="form-check-label" for="checkNutFree">
            Nut-Free
        </label>
    </div>
    <div class="form-check my-2 text-start">
        <input class="form-check-input" type="checkbox" value="halal" id="checkHalal">
        <label class="form-check-label" for="checkHalal">
            Halal
        </label>
    </div>
    <div class="text-start">
        <label class="form-label" for="inputOther">
            Any other?
        </label>
        <input class="form-control" type="text" value="" autocomplete="off" id="inputOther">
    </div>
</form>