@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<div class="col-12 p-0 mt-md-2 mb-3 m-0">
    <div data-bs-spy="scroll" data-bs-target="#menu-navbar" data-bs-offset="0" class="menu-scrollspy m-0 row">
        <partial name="~/Views/Menu/_menu.cshtml" />
        <div class="col-md-3 p-0 m-0 d-flex flex-wrap flex-md-column align-items-center">
            <div class="col-11 col-md-9 row order-summary sticky-top mx-auto gap-2">
                <button type="button" class="btn btn-secondary d-flex border w-100 dietaryButton" data-toggle="modal" data-target="#dietaryModal">
                    <i class="fa-solid fa-utensils m-auto ms-0"></i>
                    <span class="me-auto">Enter Dietary Requirements</span>
                </button>

                <a type="button" class="btn btn-light d-flex w-100" asp-area="" asp-controller="Booking" asp-action="Index"><i class="fa-regular fa-calendar m-auto ms-0"></i> <span class="me-auto">Book a Table</span></a>
                <a type="button" class="btn btn-primary d-flex w-100" asp-area="" asp-controller="Takeaway" asp-action="Index"><i class="fa-solid fa-car m-auto ms-0"></i> <span class="me-auto">Order a Takeaway</span></a>
            </div>
        </div>
    </div>
</div>

<!-- dietary Modal -->
<div class="modal fade" id="dietaryModal" tabindex="-1" role="dialog" aria-labelledby="dietaryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header pb-0 border-0">
                <h5 class="modal-title mb-4 display-7 w-100" id="dietaryModallLabel">Enter dietary requirements</h5>
                <button type="button" class="close p-0 pb-3 m-auto dietaryButton" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pt-0">
                <partial name="~/Views/Dietary/_dietary.cshtml" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary dietaryButton" data-dismiss="modal">Close</button>
                <button type="button" id="saveDietaryButton" class="btn btn-secondary">Save Changes</button>
            </div>
        </div>
    </div>
</div>