@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<div class="col-12 p-0 mt-md-2 mb-3 m-0">
    <div data-bs-spy="scroll" data-bs-target="#menu-navbar" data-bs-offset="0" class="menu-scrollspy m-0 row">
        <partial name="~/Views/Menu/_menu.cshtml" />
        <div class="col-md-3 p-0 m-0 d-flex flex-wrap flex-md-column align-items-center">
            <div class="col-11 col-md-9 row order-summary sticky-top mx-auto gap-2">
                <button type="button" class="btn btn-secondary d-flex border w-100 dietaryButton" data-toggle="modal" data-target="#dietaryModal">
                    <i class="fa-solid fa-utensils m-auto ms-0"></i>
                    <span class="me-auto">Enter Dietary Requirements</span>
                </button>

                <a type="button" class="btn btn-light d-flex w-100" asp-area="" asp-controller="Booking" asp-action="Index"><i class="fa-regular fa-calendar m-auto ms-0"></i> <span class="me-auto">Book a Table</span></a>
                <a type="button" class="btn btn-primary d-flex w-100" asp-area="" asp-controller="Takeaway" asp-action="Index"><i class="fa-solid fa-car m-auto ms-0"></i> <span class="me-auto">Order a Takeaway</span></a>
                <button type="button" class="btn btn-link clearDietaryButton">Clear Dietary Requirements</button>
            </div>
        </div>
    </div>
</div>

<!-- dietary Modal -->
<partial name="~/Views/Dietary/_dietary.cshtml" />
