@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center text-white">
    <h1 class="display-1">Our Team</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sollicitudin varius laoreet. Nam velit est, interdum sed dui vel, consectetur hendrerit elit. Suspendisse porta eu libero id scelerisque. Integer turpis augue, elementum ut fringilla id, lobortis id est. Etiam urna diam, porttitor nec volutpat sed, cursus et nunc. Curabitur et neque nec dui interdum vestibulum. Quisque et aliquam magna. Donec in justo convallis, maximus elit eu, mattis leo. Nam a enim eget elit euismod fermentum et a nulla. Vestibulum hendrerit erat sapien, a vestibulum ligula aliquam quis. Nulla sit amet erat metus.</p>
</div>
<div class="col-12 p-0 m-0 d-flex justify-content-center">
    <div class="d-flex justify-content-between gap-2">
        <a class=" btn btn-secondary" asp-area="" asp-controller="Menu" asp-action="Index">View the Menu</a>
        <a class=" btn btn-light" asp-area="" asp-controller="Booking" asp-action="Index">Book a Table</a>
        <a class=" btn btn-primary" asp-area="" asp-controller="Takeaway" asp-action="Index">Order a Takeaway</a>
    </div>
</div>